# Yocto build output
build/tmp/
build/sstate-cache/
build/downloads/
build/cache/
build/deploy/

build/*.log
build/conf/*.txt
build/conf/templateconf.cfg

# Build configuration generated locally
build/conf/local.conf
build/conf/bblayers.conf

# BitBake/Yocto state
bitbake*/.cache/
*.pyc
__pycache__/
