# Systemd & POSIX ACLs
CONFIG_AUTOFS_FS=y
CONFIG_AUTOFS4_FS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_EXT4_FS_POSIX_ACL=y
CONFIG_EXT4_FS_SECURITY=y

# CPUFreq fixed rail support
CONFIG_CPUFREQ_DT=y
# USB Gadget FunctionFS (Vendor Class bulk transfer)
CONFIG_USB_CONFIGFS_F_FS=y
CONFIG_USB_F_FS=y
CONFIG_USB_FUNCTIONFS=y
CONFIG_USB_FUNCTIONFS_GENERIC=y
